@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


html{ 
    scroll-behavior: smooth;  
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.inicio{
    display: flex;
    align-items: space-between; 
    margin-top: 25px;
    padding: 20px;
    min-height: 400px;
    background-color: rgb(253, 249, 202);
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    order: 1;
    float: left;
    padding: 60px;
}

.texto-inicio h2{
    font-family: "Libre Bodoni";
    font-size: 4em;
    color: rgb(192, 10, 80);
    text-align: center;
    

}

.texto-inicio p{
    color: rgb(61, 59, 60);
    text-align: center;
    font-size: 1em;
}

.img-capa{
    order: 2;
    width: 415px;
    margin-left: 20px;

}

.img-capa img{
    max-width: 100%; 


}



#content-sobre-ela{
    height: 100vh;
    background-color: #A1B5C7;
    padding: 2px;
}

.texto-biografia{
    display: flex;
    flex-direction: column;
    order: 1;
    float: right;
    padding: 60px;
}

.texto-biografia h2{
    color: rgb(6, 6, 58);
    font-family: "Libre Bodoni";
    font-size: 5em;
    text-align: center;
}

.texto-biografia p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 600px;
}

.hobbies{
    font-size: 2em;
    color: black;
    
}

.img-biografia{
    position: relative;
    display: flex;
    padding: 50px;
    margin-left: 50px;
}

.img-biografia img{
    width: 450px;
}

#content-carreira{
   
    background-color: rgb(233, 178, 233);
    padding: 10px;
}

.texto-carreira{
    display: flex;
    flex-direction: column;
    order: 1;
    float: left;
    padding: 60px;
}

.texto-carreira h2{
    color: rgb(116, 15, 99);
    font-family: "Libre Bodoni";
    font-size: 5em;
    text-align: center;

}

.texto-carreira p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 600px;
}

.img-carreira{
    position: relative;
    display: flex;
    padding: 10px;
    margin-left: 700px;
    
}

.img-carreira img{
    width: 450px;
}


#content-discografia{
    background-color: #e8d7d7;
    padding: 60px 20px 80px 20px;
    text-align: center;
}

#content-discografia h2{
    color: rgb(65, 1, 1);
    font-family: "Libre Bodoni";
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.albuns{
    /* O display grid vai pegar a quantidade de itens que tenho no meu layout e dividir igualmente */
    display: grid;
    /* Vai criar quatro colunas do mesmo tamanho. */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

#content-premios{
    height: 100vh;
    background-color: darkred;
    padding: 20px;
}

.texto-premios{
    display: flex;
    flex-direction: column;
    order: 1;
    float: left;
    padding: 60px;

}

.texto-premios h2{
    color: #FDB80C;
    font-family: "Libre Bodoni";
    font-size: 5em;
    text-align: center;
}

.texto-premios p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 600px;
}

.img-premios{
    position: relative;
    display: flex;
    padding: 10px;
    margin-left: 700px;

}

.img-premios img{
    width: 450px;
    border-radius: 20px;
}


#content-the-eras-tour{
    min-height: 100vh;
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFF;
    padding-bottom: 100px;
}


.texto-the-eras-tour{
    display: flex;
    flex-direction: column;
    order: 2;
    float: right;
    padding: 60px;
}


.texto-the-eras-tour h2{
    text-align: center;
    font-family: "Libre Bodoni";
    font-weight: 700;
    font-size: 4em;
    color: rgb(218, 42, 124); 
    
}

.texto-the-eras-tour p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 600px;
}

.imagens-container{
    position: relative;

}

.fearless-era{
    position: absolute;
    top: 5px;
    left: 10px;

}

.fearless-era img{
    width: 320px;

}

.reputation-era{
    position: absolute;
    top: 30px;
    left: 350px;
}

.reputation-era img{
    width: 310px;
    height: auto;

}

.folklore-era{
    position: absolute;
    top: 450px;
    left: 10px;

}

.folklore-era img{
    width: 320px;
}

.midnights-era{
    position: absolute;
    top: 470px;
    left: 350px;

}

.midnights-era img{
    width: 330px;

}

.lover-era{
    position: absolute;
    top: 305px;
    left: 700px;
}

.lover-era img{
    width: 620px;

}

.ttpd-era{
    position: absolute;
    top: 350px;
    left: 1400px;

}

.ttpd-era img{
    width: 500px;
}

footer{
    background-color: #4b4848; 
    color: #fff; 
    padding: 20px; 
    text-align: center;

}

.footer-cotainer{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.footer-section{
    margin: 0 10px;

}

.footer-logo{
    text-align: left;
}