@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


html{ 
    scroll-behavior: smooth;  
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.inicio{
    background-color: rgb(244, 245, 185);
    font-family: "Libre Bodoni";
}

#content-sobre-ela{
    background-color: rgb(153, 201, 223);
}

#content-carreira{
    background-color: rgb(235, 140, 235);
}


#content-discografia{
    background-color: #e8d7d7;
    padding: 60px 20px 80px 20px;
    text-align: center;
}

#content-discografia h2{
    color: rgb(65, 1, 1);
    font-family: "Libre Bodoni";
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.albuns{
    display: grid;
    /* Vai criar quatro colunas do mesmo tamanho. */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

#content-premios{
    background-color: darkred;
}


#content-the-eras-tour{
    background-color: black;
    color: #FFF;
}