@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


html{ 
    scroll-behavior: smooth;  
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.inicio{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 25px;
    padding: 20px;
    min-height: 400px;
    background-color: rgb(244, 245, 185);
    font-family: "Libre Bodoni";
}

.img-capa{
    order: 2;
    width: 415px;
    margin-left: 20px;

}

.img-capa img{
    max-width: 100%; 
    height: auto;   
    display: block;

}

.inicio-texto{
    color: rgb(202, 96, 63);
    text-align: center;
    font-size: 4em;
}

#content-sobre-ela{
    background-color: rgb(153, 201, 223);
}

#content-sobre-ela h2{
    color: rgb(6, 6, 58);
    font-family: "Libre Bodoni";
    font-size: 3em;
}

#content-carreira{
    background-color: rgb(235, 140, 235);
}


#content-discografia{
    background-color: #e8d7d7;
    padding: 60px 20px 80px 20px;
    text-align: center;
}

#content-discografia h2{
    color: rgb(65, 1, 1);
    font-family: "Libre Bodoni";
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.albuns{
    display: grid;
    /* Vai criar quatro colunas do mesmo tamanho. */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

#content-premios{
    background-color: darkred;
}


#content-the-eras-tour{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #FFF;
}


.texto{
    display: flex;
    flex-direction: column;
    order: 2;
    /* float: right; */
    padding: 60px;
}


#content-the-eras-tour h2{
    text-align: center;
    font-family: "Libre Bodoni";
    font-weight: 700;
    font-size: 4em;
    color: rgb(218, 42, 124); 
    
}

#content-the-eras-tour p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 600px;
}

.lover-era{
    display: flex;
    justify-content: flex-start;
}

.the-man{
    
}